<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="dingtalk_app_form" model="ir.ui.view">
        <field name="name">dingtalk.app.form</field>
        <field name="model">dingtalk.app</field>
        <field name="arch" type="xml">
            <form delete="0">
                <group col="4">
                    <group colspan="2">
                        <field name="name"/>
                        <field name="app_key"/>
                    </group>

                    <group colspan="2">
                        <field name="sync_with_user"/>
                        <field name="app_secret" password="True"/>
                    </group>

                    <group colspan="4">
                        <field name="description"/>
                    </group>
                </group>
            </form>
        </field>
    </record>
</odoo>
